div {
    height: 90px;
    width: 500px;
    background-color: bisque;
    border-width: 5px;
    border-style: solid;
    border-color: black;
    border-radius: 15px;
    padding: 100px;
    margin: 20px 20px 20px;
    transition: 2s;
    
}

div :hover {
    background-color: aquamarine;
    color: blue;
}

h1 {
    border-width: 2px;
    border-style: dashed;
    border-color: aqua;
    width: 500px

}

button {
    border: 2px solid black;
    border-radius: 5px;

}