h1 {
    text-align: center;
    font-weight: 400;
    text-decoration: underline;
}

h2 {
    text-decoration: line-through;
}

h3 {
    text-decoration: overline;
}

p {
    line-height: 2.5;
    letter-spacing: 5px;
}

h4 {
    font-family: league spartan;
    color: #ffa511;
    text-align: center;
    font-size: 55px;
    font-weight: 900;
    letter-spacing: 2px;
    line-height: 1.5;
    text-decoration: teal double underline;
    text-transform: uppercase;
}