body {
    background-color: wheat;
}

h1{
    text-align: center;
    color: red;
    font-family: georgia;
}

h3 {
    text-align: center;
    color: black;
}

h4 {
    text-align: center;
}

p {
    text-align: center;
    color: brown;
    line-height: 30px;
}

a {
    color: rgb(0, 255, 0);
    text-decoration: none;
}

button {
    background-color: white;
    color: blueviolet;
    transition: 1s;
}

button:hover {
    color: black;
    background-color: rgb(76, 76, 178);
    cursor: pointer;
}

textarea {
    color: black;
    cursor: pointer;
}