* {
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    color: #1b74e4;
}

.userbtn {
    background-color: skyblue;
    transition: 1s;
    cursor: pointer;
}

.userbtn:hover {
    background-color: rgb(15, 14, 14);
    color: white;
}

#searchbtn {
    background-color: black;
    color: white;
    transition: 1s;
    cursor: pointer;
}

#searchbtn:hover {
    background-color: #1b74e4;
    color: black;
}