h2 {
    color: orangered;
}

span {
    color: sienna;
}

.card {
    border: 2px solid black;
    width: 400px;
    /* height: 80%; */
    border-radius: 25px;
    padding: 10px;
    transition: 2s;
}

img {
    width: 80%;
    /* height: 200px; */
    border-radius: 30px;
    transition: 2s;
    padding: 15px;
}

img:hover {
    width: 90%;
}

h3 {
    transition: 1s;
}

h3:hover {
    color: rgb(165, 42, 140);
}

#pets {
    display: flex;
    justify-content: space-around;
}

@media (max-width: 375px) {
    #pets {
        flex-wrap: wrap;
    }
}

p {
    transition: 1s;
}

p:hover {
    color: rgb(102, 172, 172);
}